<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>img</key>
			<string>ff_IconShowAlbum_25x25_</string>
			<key>name</key>
			<string>朋友圈</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>扫一扫</string>
			<key>img</key>
			<string>ff_IconQRCode_25x25_</string>
		</dict>
		<dict>
			<key>name</key>
			<string>摇一摇</string>
			<key>img</key>
			<string>ff_IconShake_25x25_</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>看一看</string>
			<key>img</key>
			<string>ws_browse_share_24x24_</string>
		</dict>
		<dict>
			<key>name</key>
			<string>搜一搜</string>
			<key>img</key>
			<string>ff_IconSearch1_25x25_</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>附近的人</string>
			<key>img</key>
			<string>ff_IconLocationService_25x25_</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>游戏</string>
			<key>img</key>
			<string>MoreGame_25x25_</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ff_IconBottle_25x25_</string>
			<key>name</key>
			<string>购物</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>小程序</string>
			<key>img</key>
			<string>MoreWeApp_25x25_</string>
		</dict>
	</array>
</array>
</plist>
